extends layout

block content
  if posts
   -posts.reverse();
   each post, i in posts
    .post
     h1
      a(href='/posts/show/#{post._id}')
       =post.title

     p.meta Posted in 
      a(href='/categories/show/#{post.category}') #{post.category} 
      by #{post.author} 
      on #{moment(post.date).format("MM-DD-YYYY")}
     -var mainimage = post.mainimage
     if mainimage != 'noimage.jpg'
      img(src='/uploads/#{post.mainimage}')
     !=truncateText(post.body, 400)
     a.more(href='/posts/show/#{post._id}') Read More
